.Profile{
  display: flex;
  flex-direction: column;
  .top-profile{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #b0b0b0;
    .MuiAvatar-root{
      box-shadow: 0 4px 15px rgba(0,0,0,.5);;
    }
    .profile-detail{
      padding-left: 30px;
      h3{
        font-weight: 600;
        font-size: 4rem;
      }
      p{
        font-size: 1.1rem;
        font-weight: lighter;
        color: grey;
      }
    }
  }
  .bottom-profile{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    h3{
      padding-left: 10px;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    .most-played{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 580px) {
  .Profile{
    .top-profile{
      .profile-detail{
        h3{
          font-size: 3rem;
        }
      }
    }
    .bottom-profile{
      text-align: center;
      .most-played{
        justify-content: center;
      }
    }
  }
}