.Music{
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .music-left{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      max-width:350px;
      border: 1px solid white;
    }
    .detail{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      width: 100%;
      max-width:350px;
      padding: 5px;
      p{
        padding: 5px;
      }
    }
  }
  .music-right{
    height: calc(80vh - 100px);

    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    margin: 50px;
    h3{
      position: sticky;
      background-color: #F1F1F1;
      border-bottom: 2px solid #e0e0e0;
      top: 0;
      font-size: 2rem;
      padding: 10px;
    }
    .music-card-span{
      overflow-y: auto;
      width: 100% ;
    }
  }
}